---
layout: page
---

<div class="post-header">
  <h1 class="post-title">{{ site.blog_name }}</h1>
  <p class="post-meta">{{ site.blog_description }}</p>
</div>


<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <h3><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>


<h2>Equipe organisatrice</h2>

<ul>
  <li><a href="#">Jérémy Cohen</a>, Affiliation</li>
  <li><a href="#">Jordan Frecon</a>, Affiliation</li>
  <li><a href="#">Maxime Guillaud</a>, Affiliation</li>
  <li><a href="#">Nelly Pustelnik</a>, Affiliation</li>
  <li><a href="#">Laurent Seppecher</a>, Affiliation</li>
  <li><a href="#">Juliàn Tachella</a>, Affiliation</li>
</ul>


{% include pagination.html %}
