.page-content {
    padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
    font-size: 20px;
}
.contacticon {
    display: block;
    font-size: 60px;
    margin: 10px;
}
.center{
    text-align: center;
}

/* Styles for the title of the speaker */
.speaker-title {
    font-size: 1.5em; /* Reduced size for the speaker name */
    font-weight: bold;
    color: #3498db; /* Blue color, you can customize this */
    margin-bottom: 0.3em;
}

/* Styles for the abstract of the speaker */
.speaker-abstract {
    font-size: 1.2em;
    color: #555; /* Dark gray color, you can customize this */
    margin-bottom: 1em;
    background-color: #f2f2f2; /* Slightly grayed-out background */
    padding: 10px;
    border-radius: 8px;
}

/* Container for each speaker */
.speaker-container {
    border: 2px solid #ddd; /* Light gray border */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft box shadow */
}

/* Hover effect for each speaker */
.speaker-container:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

